apiVersion: apps/v1
kind: Deployment
metadata:
  name: john-redis
  labels:
    app: john-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: john-redis
  template:
    metadata:
      labels:
        app: john-redis
    spec:
      containers:
      - name: john-redis
        image: quay.io/kurs/redis:latest
        ports:
          - containerPort: 6379
        env:
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: john-guestbook-common-secrets
                key: REDIS_PASSWORD
        command: ["redis-server", "--requirepass", "$(REDIS_PASSWORD)", "--maxmemory", "1500mb", "--maxmemory-policy", "noeviction"]
        volumeMounts:
          - name: john-redis-data
            mountPath: /data
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "2Gi"
            cpu: "1"
        livenessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 20
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
              - redis-cli
              - -a
              - $(REDIS_PASSWORD)
              - ping
          initialDelaySeconds: 5
          periodSeconds: 5
      volumes:
        - name: john-redis-data
          persistentVolumeClaim:
            claimName: john-redis-data
