apiVersion: apps/v1
kind: Deployment
metadata:
  name: john-frontend
  labels:
    app: john-frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: john-frontend
  template:
    metadata:
      labels:
        app: john-frontend
    spec:
      containers:
      - name: nginx
        image: ghcr.io/john-svantesson/john-ocpguestbook-argocd/john-guestbook-frontend:fadc7c5
        ports:
        - containerPort: 8080
        imagePullPolicy: Always
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "250m"
