apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: john-postgres-data
  labels:
    app: john-postgres
spec:
  accessModes:
    - ReadWriteOnce          
  resources:
    requests:
      storage: 2Gi           
